<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<link rel="shortcut icon" type="text/css" href="/logo.png">
	<title>Blog</title>
</head>
<body>

	<img src="/logo.png" class="logo">

	<form class="container" action="/signup" method="post">
		<input type="text" name="name" class="inp" placeholder="Логин" autocomplete="off">
		<input type="password" name="password" class="inp1" placeholder="Пароль" autocomplete="off">
		<input type="submit" name="submit" class="send" value="Войти">
		<div class="create"><a href="/register">Зарегистрироваться</a></div>
		<div class="err"><%= text%></div>
	</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>
</html>